* {
  margin: 0;
}
@mixin flexMid {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: roboto;

  main {
    width: 100%;
    box-sizing: border-box;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767.98px) {
  main {
    width: 100%;
    max-width: 1440px;
    padding: 0 0;
    box-sizing: border-box;
  }
}
// .accueil {
//   margin: 0;
//   font-family: roboto;
// }
.entete {
  display: grid;
  grid-template-columns: 13% 74% 13%;
  align-items: center;
  justify-items: center;
  height: 3.93rem;
  i {
    color: var(--black, #101010);
    text-align: center;
    font-family: Shrikhand;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.88rem 0 0.81rem 0;
    width: 100%;
  }

  .icone {
    display: none;
    border: solid 1px;
    margin-left: 1.065rem;
  }
}
.localisation {
  @include flexMid;
  flex-direction: row;
  height: 3.125rem;
  background: var(--grey-2, #eaeaea);
  box-shadow: 0px 5px 3px -5px inset grey;
  .localisation__btn {
    color: var(--grey, #353535);

    /* Button */
    font-size: 1rem;
    margin-left: 1.06rem;
    border: none;
    background: var(--grey-2, #eaeaea);
    width: 109px;
  }
}
.decouverte {
  @include flexMid;
  flex-direction: column;
  height: 224px;
  padding-bottom: 3.56rem;
  background-color: #f6f6f6;
  h1 {
    height: 4.25rem;
    padding-top: 2.44rem;
  }

  /* Paragraph */
  p {
    width: 84%;
    font-size: 1.125rem;
  }
}
.decouverte__bouton {
  @include flexMid;
  width: 13.6rem;
  height: 3.13rem;
  border-radius: 1.5625rem;
  background: var(
    --button-gradient,
    linear-gradient(175deg, #9356dc 0%, #ff79da 100%)
  );
  margin-top: 1.7rem;
  /* Shadow/Button */
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.6);
  color: var(--white, #fff);
  text-align: center;
  text-decoration: none;
  flex-shrink: 0;
  transition-duration: 0.5s;

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      linear-gradient(182deg, #9356dc 0%, #ff79da 100%);
    box-shadow: 3px 4px 15px 0px rgba(238, 3, 113, 0.2);
    transform: scale(0.95);
  }
}
// NAVIGATION
.navigation h1 {
  margin-left: 1.25rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 4.25rem;

  .navigation__page {
    @include flexMid;
    flex-direction: row;
    margin-right: 1.25rem;
    text-decoration: none;

    .navigation__rep {
      @include flexMid;
      flex-direction: row;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #9356dc;
      color: white;
      margin-left: 12px;
      margin-right: -12px;
      position: relative;
      flex-shrink: 0;
      z-index: 1;
      transition-duration: 1s;
    }
    .navigation__bouton__txt {
      text-decoration: none;
      color: black;
    }
    .navigation__bouton {
      .navigation__bouton__txt {
        text-decoration: none;
        color: black;
      }
      .symb {
        font-size: 20px;
        color: #7e7e7e;
      }
      @include flexMid;
      width: 20.15538rem;
      height: 4.52369rem;
      // flex-shrink: 0;
      border-radius: 1.25rem;
      background: var(--background, #f6f6f6);
      gap: 1.67rem;
      /* Shadow/Instructions */
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.6);
      transition-duration: 0.5s;

      &:hover {
        background: var(--background, #f2eafb);
        box-shadow: 0px 4px 15px 0px rgba(94, 5, 86, 0.5);
        transform: scale(0.95);

        .symb {
          background-clip: text;
          -webkit-background-clip: text;
          transition: color 0.3s;
          color: #9356dc;
        }
        // .navigation__rep {
        //   transform: scale(1.1);
        // }
      }
    }
  }
}
// RESTAURANTS
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  background: #f6f6f6;
  box-sizing: border-box;
  gap: 1.12rem;
  padding-bottom: 4.12rem;
  h1 {
    margin-bottom: 1.5rem;
    margin-top: 3.38rem;
    margin-left: 1.25rem;
  }
}
.carte {
  display: flex;
  flex-direction: column;
  // width: 21.25rem;
  // margin-top: 1.5rem;
  border-radius: 15px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  background: white;
  gap: 1.12rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.6);
  img {
    height: 174px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .nouveau {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008766;
    width: 5rem;
    height: 1.8125rem;
    border-radius: 0.125rem;
    background: var(--green, #99e2d0);
    /* Shadow/Badge */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0.75rem;
    top: 0.81rem;
    text-align: center;
  }
  .legende {
    display: flex;
    flex-direction: row;
    margin-left: 0.81rem;
  }
  .blabla {
    width: 70%;
  }
  .coeur {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 30%;

    i {
      position: absolute;
    }
    .full {
      background-image: text;
      background-clip: text;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.5s;
      &:hover {
        cursor: pointer; // cache le coeur vide
        transition: 0.5s ease-in-out;
        color: transparent;
        opacity: 1;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(182deg, #9356dc 0%, #ff79da 100%);
        &not:hover {
          transition: 0.5s ease-in-out;
        }
        &:active {
          transform: scale(2);
          background-clip: text;
          -webkit-background-clip: text;
          background-color: linear-gradient(182deg, #9356dc 0%, #ff79da 100%);
          opacity: 1;
        }
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  background: var(--grey, #353535);
  color: white;
  .foot {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    gap: 0.63rem;
  }
}

.map {
  margin: 1.38rem 1.56rem;
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
  i {
    font-family: Shrikhand;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.88rem 0 0.81rem 0;
    width: 100%;
  }
}
